* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b4ff8b;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  margin: 15px;
  max-width: 400px;
  width: 100%;
}

.header {
  color: rgb(139, 23, 23);
  font-size: 20px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  text-align: left;
}

.input-group input {
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans";
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  background-color: whitesmoke;
}

input#kelvin,
input#celcius,
input#farenheit {
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: whitesmoke;
}
